@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto 1fr auto;
	font-family: Kanit;
	margin: 0;
	min-height: 100vh;
}
.default {
	grid-template-areas: "header header" "big-title big-title" "main sidebar" "footer footer";
}
.page {
	grid-template-areas: "header header" "big-title big-title" "main main" "footer footer";
}
header {
	font-family: Poppins;
	font-weight: bold;
	grid-area: header;
	background-color: #333;
	color: #202020;
	text-align: center;
	margin-bottom: 80px;
}
main {
	grid-area: main;
	padding: 0 20px 20px 20px;
	margin-bottom: 50px;
}
aside {
	grid-area: sidebar;
	padding: 0 20px;
	border-radius: 15px;
}
footer {
	grid-area: footer;
	color: white;
	text-align: center;
	box-shadow: 0px 0px 20px 0px #f1f1f1;
	padding: 20px;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	gap: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0px 0px 20px 10px #f1f1f1;
	height: 70px;
	padding: 10px 20px;
	z-index: 9999;
}
.compName {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2px;
}
.menu {
	display: flex;
	flex-direction: row;
	gap: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 500px;
	width: 100%;
	justify-content: space-around;
}
.menu a {
	text-decoration: none;
	color: #202020;
	font-size: 20px;
	font-weight: 500;
	transition: opacity 0.3s ease;
}
.menu a:hover {
	opacity: 0.8;
}
.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#menuToggleButton {
	display: none;
}
.menu-button, .menu-button::before, .menu-button::after {
	display: block;
	background-color: #202020;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: all 200ms ease-in-out;
	border-radius: 5px;
	transform-origin: center center;
	transform: rotate(0deg);
}
.menu-button::before {
	content: '';
	margin-top: 10px;
}
.menu-button::after {
	content: '';
	margin-top: -10px;
}
#menuToggleButton:checked+.menu-button-container .menu-button {
	background: #fff;
}
#menuToggleButton:checked+.menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(225deg);
}
#menuToggleButton:checked+.menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-45deg);
}
.search {
	--padding: 12px;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	border-radius: 28px;
	width: 100%;
	background: #ffffff;
	transition: box-shadow 0.25s;
	max-width: 400px;
	border: 2px solid #f1f1f1;
	box-sizing: border-box;
	transition: border .2s ease-in-out;
}
.search-input {
	font-size: 18px;
	color: #333333;
	margin-left: var(--padding);
	outline: none;
	font-family: 'Kanit';
	border: none;
	background: transparent;
	width: 100%;
}
.search-input::placeholder, .search-icon {
	color: rgba(0,0,0,0.5);
}
.search:focus-within, .search:hover {
	border: 2px solid #007bff;
}
.menu-search {
	display: none;
}
.info-box {
	display: flex;
	background-color: #f4f4f4;
	flex-direction: row;
	margin-bottom: 30px;
	background: #fff;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 0px #f1f1f1;
}
.info-image {
	margin-right: 10px;
	width: 300px;
}
.mini-side-info-image {
	width: 100px;
	margin-right: 10px;
}
.info-image, .side-info-image, .mini-side-info-image {
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
	transition: opacity 0.3s ease;
}
.side-info-image {
	width: 100%;
}
.info-image:hover, .side-info-image:hover, .mini-side-info-image:hover, .side-title:hover, .mini-side-title:hover, .title:hover, .read-more:hover, .social-media:hover, .footer-link:hover {
	opacity: 0.8;
}
.info-text {
	padding: 0 0 0 10px;
}
.mini-side-info-text {
	font-size: 10px;
}
.info-text, .side-info-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}
.mini-side-description {
	font-size: 15px;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
}
.title, .side-title {
	font-size: 25px;
}
.mini-side-title {
	font-size: 18px;
}
.post-title {
	text-align: center;
	font-size: 40px;
	margin: 30px 0 !important;
}
.title, .side-title, .mini-side-title, .post-title {
	font-weight: bold;
	margin: 0;
	text-decoration: none;
	color: #242424;
	transition: opacity 0.3s ease;
	margin-bottom: 10px;
}
.side-title {
	text-align: center;
}
.post {
	border-radius: 30px;
	margin: 0 auto;
	max-width: 800px;
}
.privacy-terms {
	max-width: 1000px;
	box-shadow: 0px 0px 20px 0px #f1f1f1;
	padding: 30px 60px;
}
.author {
	margin: 5px 0;
	font-size: 14px;
	color: #555;
}
.description {
	-webkit-line-clamp: 2;
	font-size: 16px;
}
.side-description {
	-webkit-line-clamp: 3;
	font-size: 20px;
}
.description, .side-description {
	margin: 10px 0;
	color: #333;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.read-more {
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #007bff;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	width: fit-content;
	transition: opacity 0.3s ease;
}
.big-title {
	grid-area: big-title;
	height: fit-content;
	font-size: 32px;
	text-align: center;
	color: #242424;
	padding: 30px 0;
}
.pagination-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination-number {
	color: #fff;
	font-family: 'Kanit';
	margin: 0 4px;
	border-radius: 6px;
	background: #007bff;
	min-width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0 6px;
}
.pagination-number:hover {
	background: #007bffe0;
}
.pagination-number:active {
	background: #282828;
}
.pagination-active {
	background: #007bffe0;
}
.arrow-text {
	font-size: 13px;
	vertical-align: middle;
	margin-left: 6px;
}
.hide {
	display: none;
	visibility: hidden;
	height: 0;
}
.tab {
	font-weight: bold;
	padding: 5px 0;
	text-align: center;
	border-radius: 10px;
	color: #242424;
	font-size: 25px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 20px 0px #f1f1f1;
}
.side-box {
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 0px 20px 0px #f1f1f1;
}
.mini-side-box {
	display: flex;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 20px 0px #f1f1f1;
}
.side-section {
	margin-bottom: 30px;
}
.social-media {
	text-decoration: none;
	color: #000;
	margin: 0 auto;
	padding: 0 80px 0 110px;
	position: relative;
	max-width: fit-content;
	display: flex;
	margin-bottom: 20px;
	height: 60px;
	border-radius: 35px 10px 10px 35px;
	font-weight: 500;
	align-items: center;
	transition: opacity 0.3s ease;
	box-shadow: 0px 0px 20px 0px #f1f1f1;
}
.social-media-image {
	position: absolute;
	left: -5px;
	width: 60px;
}
.social-media-text {
	font-size: 20px;
}
.footer-sections {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 20px;
}
.vertical {
	display: flex;
	flex-direction: column;
}
.footer-text {
	font-size: 20px;
	color: #202020;
	max-width: 400px;
	width: 100%;
}
.footer-title {
	color: #000;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 10px;
}
.footer-link {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	transition: opacity 0.3s ease;
	margin-top: 10px;
}
.copyright {
	color: #000;
	font-size: 22px;
	font-weight: 500;
}
.post-image {
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.download_button {
	margin: 0 auto;
	cursor: pointer;
	align-items: center;
	display: flex;
	border-radius: 20px;
	padding: 10px 20px;
	height: fit-content;
	max-width: fit-content;
	border: 2px #ea4318 solid;
	text-decoration: none;
	color: #ea4318;
	font-size: 18px;
	font-weight: 500;
	transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
.download_button:hover, .download_button:focus {
	background-color: #ea4318;
	color: #fff;
}
.download_button:focus {
	box-shadow: 0 0 0 .2rem #ffa48c;
}
@media (max-width: 560px) {
	.info-box {
		flex-direction: column;
		align-items: center;
	}
	.info-image {
		width: 100%;
		height: auto;
		margin: 0 0 10px 0;
	}
	.info-text {
		text-align: center;
	}
	.read-more {
		margin: 0 auto;
	}
}
@media (max-width: 700px) {
	nav {
		border-radius: 0;
	}
	.menu-button-container {
		display: flex;
	}
	.menu {
		display: none;
		position: absolute;
		top: 0;
		margin-top: 90px;
		left: 0;
		flex-direction: column;
		max-width: none;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#menuToggleButton~.menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23,1,0.32,1);
	}
	#menuToggleButton:checked~.menu {
		display: flex;
		align-items: center;
		gap: 0px;
		box-shadow: 0px 0px 20px 0px #f1f1f1;
	}
	#menuToggleButton:checked~.menu li {
		border: 1px solid #f1f1f1;
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23,1,0.32,1);
		background: #fff;
	}
	.menu>li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background: #202020;
	}
	.menu>li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
	.search {
		display: none;
	}
	.menu-search {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 1em 0;
	}
	.search-mobile {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f6f6f6;
		padding: 10px;
	}
	.search-mobile .search-input {
		width: 100%;
		padding: 10px;
	}
}
@media (max-width: 980px) {
	.default, .page {
		grid-template-columns: 1fr;
		grid-template-areas: "header" "big-title" "main" "sidebar" "footer";
	}
	.footer-sections {
		flex-direction: column !important;
	}
	.footer-text {
		max-width: 100% !important;
	}
}
